<p id="notice"><%= notice %></p>



<div class ="center">


<h1 class="head">What's For Lunch Today?</h1>


  <button class='btn-xs btn-success' >
    <%= link_to 'See All Restaurants', restaurants_path %>
  </button>



   <div class="singlePlace">
   <h2><%= @restaurant.name %>  </h2>
    <%= image_tag @restaurant.image.url(:medium)%> <br>
    <p>Rating:   <%= @restaurant.rating %>   </p>
    <p>Visited on:    <%= @restaurant.visited %> </p>
         <%= link_to 'Show', @restaurant %>
        <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
        <%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
   </div>


</div>



