<p id="notice"><%= notice %></p>

<div class = "center">

<h2><%= @restaurant.name %></h2>
<%= image_tag @restaurant.image.url(:medium)%>




<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Last Visited On:</strong>
  <%= @restaurant.visited %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


  <div>